{% extends 'base.html' %}

{% block title %}Edit "{{post.title}}"{% endblock %}

{% block content %}
<h2>Edit Post</h2>
<form method="POST">
    <label for="title">Title : </label>
    <input type="text" id="title" name="title" required value={{post.title}}>
    <br>
    <label for="content">Content : </label>
    <input type="text" id="content" name="content" required value={{post.content}}>
    <br>
    {% for tag in tags %}
    <input type="checkbox" id={{tag.name}} name=tags value={{tag.name}}>
    <label for={{tag.name}}>{{tag.name}}</label>
    <br>
    {% endfor %}
    <a href="/posts/{{post.id}}">Cancel</a>
    <button>Edit</button>
</form>
{% endblock %}